@import "tailwindcss";
@import "tailwindcss/preflight";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Card Characters';
  src: url('../assets/cardcharacters.ttf') format('truetype');
  font-weight: 400; /* or 700 if bold */
  font-style: normal;
  font-display: swap;
}

.card-text {
  font-family: 'Card Characters', sans-serif;
}

.test-rule {
    color: red
}

/* Base scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #241616; /* dark-input */
  border-radius: 4px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #6E2E2E; /* dark-select */
  border-radius: 4px;
  border: 2px solid #241616; /* blends into track */
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #8a3a3a; /* slightly lighter maroon for hover */
}


/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #6E2E2E #241616;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}